@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    pad: 0;
    margin: 0;
    border: 0;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(39, 39, 39);
}
header{
    background: #ffb829;
    background: linear-gradient(142deg, rgba(255, 184, 41, 1) 0%, rgba(255, 225, 0, 1) 100%);
    margin: 0;
    padding: 0;
    height: 250px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    flex-direction: column;
    width: 100vw;
}
h2{
    font-family: 'Roboto', 'monospace';
    color: whitesmoke;
    font-weight: 800;
    font-size: 55px;
    margin-bottom: 0px;
}
h3{
    font-family: 'Roboto', 'monospace';
    color: whitesmoke;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#titulo-servicos{
    margin-top: 15px;
}
p{
    font-family: 'Roboto', 'monospace';
    color: whitesmoke;
    font-weight: 800;
    font-size: 15px;
}
.ptrabalhor{
    font-family: 'Roboto', 'monospace';
    color: rgb(0, 0, 0);
    font-weight: 340;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 0;

}

.trabalhador{
    border-radius: 20px;
    width: 300px;
    height: 400px;
    background-color: whitesmoke;
    margin-left: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    filter: drop-shadow(5px 5px 15px rgba(245, 245, 245, 0.158));
}
.trabalhador img{
    width: 300px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
button{
    background-color: rgb(69, 152, 219);
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    box-shadow: 0 5px rgb(109, 185, 247);
}
button:hover{
    background-color: rgb(109, 185, 247);
    box-shadow: none;
    margin-top: 5px;
}
p, h4{
    font-family: 'Roboto', 'monospace';
}
h4{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 12px;
}
hr {
    width: 200px;
}
